.site-meta {
  background-image: url(/images/log-big.png);
  @media(min-width: 992px){
  	background-image: url(/images/log-small.png);
	}
}


//gitalk code background-color 
.gt-container .gt-comment-content .highlight pre, .markdown-body pre{
    background-color: #2d2d2d;
}
.gt-container .gt-comment-content .highlight ::selection {
    background: #2593a6;
    color: #fff;
}

//文章目录默认展开
.post-toc .nav .nav-child { display: block; }

.post-toc ol {  
  font-size : 13px;     
}